{% extends 'base.html' %} 
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>회원가입 Instargram </title>
        <link href="{% static 'css/background.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/signUp.css' %}" rel="stylesheet" type="text/css" />
        <link rel="icon" href="{% static 'img/icon.png' %}"" >
    </head>

    <body>
        <div class="signUp">
            <form action="{% url 'signup' %}" method="post" class="signUp_container">
                {%csrf_token%}
                <div>
                    <a href="{% url 'home' %}">
                <img class="instargramText" src="{% static 'img/logo_text.png' %}" alt="instargramText">
                </a></div>
                <h2 class="joinLetter">친구들의 사진과 동영상을 보려면 가입하세요. </h2>
            <hr class="line"/>
            <input type="text" class="userSignUp" placeholder="휴대폰 번호 또는 이메일 주소" ,name="userID">
            <input type="text" class="userSignUp" placeholder="성명" ,name="userName">
            <input type="text" class="userSignUp" placeholder="사용자 이름" ,name="nickName">
            <input type="password" class="userSignUp" placeholder="비밀번호" ,name="password">
            <button id="signnUpButton" type="submit" disabled>가입</button>
            </form>
        </div>
            
        <div>
            <footer class="joinInsta">
             <p class="join">계정이 있으신가요?
                 <a href="{% url 'login' %}" class="joinBtn">로그인</a>
                </p>
            </footer>
        </div>
    </body>
</html>